*{
    padding: 0%;
    margin:0%;
}
body{
    font-family: var(--bs-font-sans-serif);
}

.mainheader{
    width: 100%;
    height: 70px;
    background-color: #7952b3;;
}

.headerbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoside {
    display: flex;
    align-items: center;
    
}

.logoside img{
    height: 50px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
   
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    text-align: center;
}

.nav li{
    padding: 15px;
    list-style-type: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
}

.iconsection img {
    padding: 0 10px 0 0px;
    
}

.iconsection input{
    padding: 15px;
    margin-right: 30px;
    background-color: transparent;
    color: yellow;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid yellow;

}

.viewparent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discription-body{
    width: 70%;
    margin: auto auto;
    line-height: 20px;
    font-size: 20px;
    padding-top: 70px;
    color: rgb(41, 41, 41);
}
.discription-body h1{
    font-size: 64px;
    line-height: 1;
}
.discription-body p{
    font-size: 30px;
    line-height: 42px;
    padding: 20px 0 15px 0;
}

.view-button input{
    padding: 20px;
    width: 180px;
    font-size: 18px;
    font-weight: bold;

}

.blue-button{
    background-color:#6f42c1;
    border: none;
    color: white;
}
.white-button{
    background-color: white;
}
.view-image{
    justify-items: left;
}
.view-image img{
    height: 350px;

    padding-right: 50px;
}

.version{
    display: flex;
    padding: 20px 0 0 0;
}
.version a{
    padding-left: 20px;
}

.jobs-image img{
    padding-top: 20px;
}




