*{
    padding: 0%;
    margin:0%;
}
body{
    font-family: var(--bs-font-sans-serif);
}

.mainheader{
    width: 100%;
    height: 70px;
    background-color: #7952b3;;
}

.headerbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoside {
    display: flex;
    align-items: center;
    
}

.logoside img{
    height: 50px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
   
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    text-align: center;
}

.nav li{
    padding: 15px;
    list-style-type: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
}

.iconsection img {
    padding: 0 10px 0 0px;
    
}

.iconsection input{
    padding: 15px;
    margin-right: 30px;
    background-color: transparent;
    color: yellow;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid yellow;

}

.viewparent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discription-body{
    width: 70%;
    margin: auto auto;
    line-height: 20px;
    font-size: 20px;
    padding-top: 70px;
    color: rgb(41, 41, 41);
}
.discription-body h1{
    font-size: 64px;
    line-height: 1;
}
.discription-body p{
    font-size: 30px;
    line-height: 42px;
    padding: 20px 0 15px 0;
}

.view-button input{
    padding: 20px;
    width: 180px;
    font-size: 18px;
    font-weight: bold;

}

.blue-button{
    background-color:#6f42c1;
    border: none;
    color: white;
}
.white-button{
    background-color: white;
}
.view-image{
    justify-items: left;
}
.view-image img{
    height: 350px;

    padding-right: 50px;
}

.instalation-section{
    width: 100%;
    font-size: 16px;
}

.installation-body{
    display: flex;
    font-size: 20px;
    box-sizing: border-box;
    justify-content: space-around;

    
}


.installation-discription{
    font-size: 20px;
    width: 40%;
}
.installation-discription h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
.installation-discription p{
   line-height: 30px;
}

.installation-discription h5{
    line-height: 30px;
    padding-bottom: 10px;
    font-size: 22px;
 }

.installation-discription button{
    height:50px;
    width: 240px;
    border: 1px solid rgb(143, 143, 240);
    color:  rgb(143, 143, 240);
    font-size: 20px;
    background-color: white;
    margin-top: 20px;
}

.installation-sourceCode{
    /* text-indent: 200px; */
    width: 450px;
    padding-top: 30px;
    
}

.code1{
    background-color: #e9e7ec;
    height: 60px;
 }
.code1 h6{
 font-size: 20px;
 font-weight: lighter;
 padding-left: 20px;
}

.code1 button{
    background-color: transparent;
    border: 1px solid #0dcaf0;
    font-size: 14px;
    color: #0dcaf0;
    padding: 5px;
    margin-left: 400px;
}

